Practica_XML_XSD/PRACTICA4/ejericicio3/ejercicio3.xml

<!-- 
Nombre: [ANOUAR CHOUIRDI] 
Curso: ASIR1] 
Fecha: [20/04/2025] 
Ejercicio: [heladeria1] 
-->
<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="heladeria">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="helado" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="chocolate" minOccurs="0" maxOccurs="1" type="xs:int" />
              <xs:element name="fresa" minOccurs="0" maxOccurs="1" type="xs:int" />
              <xs:element name="vainilla" minOccurs="0" maxOccurs="1" type="xs:int" />
              <xs:element name="turron" minOccurs="0" maxOccurs="1" type="xs:int" />
            </xs:sequence>
            <xs:attribute name="fabricacion" type="xs:date" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
