Practica_XML_XSD/PRACTICA3/ejercicio4/ejercicio4.xml

<!-- 
Nombre: [ANOUAR CHOUIRDI] 
Curso: ASIR1] 
Fecha: [20/04/2025] 
Ejercicio: [Colores de muebles] 
-->
<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ubicaciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ubicacion">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="direccion" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="metros" type="xs:decimal"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
